<section>
    <h1>用户列表</h1>
    
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="搜索用户...">
        <button id="searchButton">搜索</button>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>角色</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr *ngFor="let each of list">
                <td>{{each['id']}}</td>
                <td>{{each['username']}}</td>
                <td>{{each['role']}}</td>
                <td>{{each['email']}}</td>
                <td>{{each['created_at']}}</td>
                <td><button (click)="detailOfUser(each['id'])">详情</button></td>
            </tr>
        </tbody>
    </table>
    
    <div class="pagination-controls">
        <div class="page-size-selector">
            <label for="pageSize">每页显示</label>
            <select id="pageSize" (change)="changePageSize($event.target.value)">
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=25>25</option>
                <option value=30>30</option>
            </select>
            <span>条记录</span>
        </div>
        
        <div class="pagination-buttons">
            <button id="prevPage" (click)="changePageIndex(-1)">上一页</button>
            <span id="pageInfo">第 <span id = 'pageIndex'>1</span>/<span id = 'pageCount'>{{pageCount}}</span> 页</span>
            <button id="nextPage" (click)="changePageIndex(1)">下一页</button>
        </div>
        
        <div class="page-jump">
            <label for="jumpToPage">跳转至</label>
            <input type="number" id="jumpToPage" min="1" placeholder="页码">
            <button id="jumpButton" (click)="jumpToPage()">确定</button>
        </div>
    </div>
</section>